<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
<div class="container">
    <div class="row mt-5">
        <div class="col-4"></div>
        <div class="col-4">
            <div class="card text-center">
                <div class="card-header">
                  Employee Detail
                </div>
                <div class="card-body">
                  <h5 class="card-title">{{empdata.name}}</h5>
                  <p class="card-text">{{empdata.email}}</p>
                  <p class="card-text">{{empdata.department}}</p>
                  <p class="card-text">{{empdata.salary}}</p>
                  <p class="card-text">{{empdata.phone}}</p>
            
                </div>
                <div class="card-footer text-body-secondary">
                  ..........
                </div>
              </div>
        </div>
        <div class="col-4"></div>
    </div>
</div>